.logearse{
    z-index: 10;
    background-color: rgb(54, 94, 58);
    width: 500px;
    height: 370px;
    padding: 10px;
    display: block;
    justify-items: center;
    border-radius: 8%;
    position: relative;
    top: 80px;
    left: 200px;
}

.logearse> :first-child{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 45px;
    color: white;
}

.logearse >.logearseformulario{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logearseformulario > .inputsLogin{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;

}
.inputsLogin> input{
    width: 90%;
    display: flex;
    align-self: center;
    height: 40px;
    margin-top: 5px;
    background-color: rgb(96, 166, 103);
    border-radius: 12px;
    padding-left: 15px;
    color: white;
    box-shadow: 0 7px 12px rgba(0,0,0,0.3);
    border: none;                 
    outline: none; 
}

.inputsLogin> label{
    color: white;
    font-size: 25px;
    font-weight: 500;
    width: 95%;
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logearseformulario > button{
    margin: auto;

}

.botonLogin{
    height: 40px;
    border-radius: 20px;
    width: 130px;
    border: none;                 
    outline: none; 
    background-color: rgb(193, 233, 182);
}

.botonLogin:hover{
    background-color: rgb(132, 232, 104);
}

.seccionBotonesLogin{
    width: 80%;
    display: flex;
    justify-content: space-around;
}