.fondoInicial{
    background-image: image-set(
        url("public/fondo2.jpg") 
    );
    height: 100%;
    width: 100%;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}


.parteGrafica{
    width: 100%;
    display: block;
    align-self: center;
    justify-items: center;
}
